[Desktop Entry]
Version=1.0
Name=PrintDesign illustration program
Name[ru]=Редактор векторной графики PrintDesign
Name[uk]=Редактор векторної графіки PrintDesign
Name[en_GB]=PrintDesign illustration program
Name[en_US@piglatin]=PrintDesign illustration program
Name[zh_TW]=向量素描筆
Name[pt_BR]=Aplicativo de desenho PrintDesign
GenericName=Vector Graphics Editor
GenericName[ru]=Редактор векторной графики
GenericName[uk]=Редактор векторної графіки
GenericName[en_GB]=Illustration program
GenericName[en_US@piglatin]=Illustration program
GenericName[pt_BR]=Editor de gráficos vetoriais
X-GNOME-FullName=PrintDesign illustration program
X-GNOME-FullName[ru]=Редактор векторной графики PrintDesign
X-GNOME-FullName[uk]=Редактор векторної графіки PrintDesign
X-GNOME-FullName[en_GB]=PrintDesign illustration program
X-GNOME-FullName[en_US@piglatin]=PrintDesign illustration program
X-GNOME-FullName[pt_BR]=Aplicativo de desenho PrintDesign
Comment=Create and edit multipage documents for prepress
Comment[ru]=Редактор векторной графики для предпечатной подготовки
Comment[uk]=Редактор векторної графіки для підготовки до друку
Comment[en_GB]=Create and edit multipage documents for prepress
Comment[en_US@piglatin]=Create and edit multipage documents for prepress
Comment[zh_TW]=PrintDesign 建立與編輯多頁文件的印前處理
Comment[pt_BR]=Crie e edite documentos de múltiplas páginas para pré-impressão
Type=Application
Categories=Graphics
MimeType=application/vnd.sk1project.pdxf-graphics;application/illustrator;image/x-xfig;image/x-wmf;image/x-skencil;image/x-eps;image/vnd.dxf;image/svg+xml;image/cgm;audio/x-riff;application/x-wine-extension-CMX;application/x-wine-extension-CDT;application/vnd.hp-hpgl;application/vnd.corel-draw;application/postscript;
Exec=printdesign %f
TryExec=printdesign
Terminal=false
StartupNotify=true
Icon=printdesign
